.chat {
    &-layout {
        margin: 0 auto;
        background: #fff;
        max-width: 1440px;
        height: 100vh;
        overflow: hidden;
        gap: 0px;
        transition: all .2s;
        display: grid;
        grid-template-columns: repeat(12, auto);
    }

    &-sidebar {
        grid-column: span 2;
        row-gap: 12px;
    }
    &-body {
        grid-column: span 10;
        padding: 0 64px;
        overflow: scroll;

        display: flex;
        justify-content: center;
        &::-webkit-scrollbar {
            width: 0;
            height: 0;
        }
    }
}